{% extends "base.html" %}

{% block content %}

    <h1 class="mt-4 mb-5">Все фильмы</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for film in films %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ film['poster_url'] }}" class="card-img-top" alt="{{ film['name'] }}">
            <div class="card-body">
              <h3 class="card-title">{{ film['name'] }}</h3>
              <p class="card-text">{{ film['shortDescription'] }}</p>
              <a href="/films/{{ film['id'] }}" class="btn btn-primary">Перейти</a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}